output
.vscode/
/target
/assets
/static
vmlinux.h
landscape-ebpf/src/bpf/vmlinux.h

# docker build dir
dockerfiles/redirect_prog/apps
redirect_server*
dockerfiles/landscape/.landscape-router
dockerfiles/landscape/apps
push_*.sh
net.sh
*.sqlite

# pcaps
*.pcap
*.cap

# DuckDB local library
libduckdb/

# Node
node_modules/
